<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Auto-discovery -->
    <context:component-scan base-package="edu.jft.prashant"/>

    <bean id="spitterService" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
        <property name="serviceInterface" value="edu.jft.prashant.wsendpoints.SpitterServiceEndpoint"/>
        <property name="wsdlDocumentUrl" value="http://localhost:7777/services/SpitterService?wsdl"/>
        <property name="serviceName" value="SpitterService"/>
        <property name="portName" value="SpitterServiceEndpointPort" />
        <property name="namespaceUri" value="http://wsendpoints.prashant.jft.edu/" />
    </bean>
</beans>