<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <context:component-scan base-package="edu.jft.prashant"/>

    <!-- creates an embedded activemq message broker -->
    <amq:broker brokerName="defaultBroker"
            useJmx="false"
            persistent="true"
            dataDirectory="activemq-data">

        <amq:destinations>
            <amq:queue physicalName="jft.queue"/>
            <amq:topic physicalName="jft.topic"/>
        </amq:destinations>

        <amq:transportConnectors>
            <amq:transportConnector uri="tcp://localhost:61616" />
        </amq:transportConnectors>
    </amq:broker>


    <bean id="jmsConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616" />
    </bean>

    <!--JMS template with injected connection factory-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
    </bean>

    <!--configuring jms listeners-->
    <jms:listener-container destination-type="topic" connection-factory="jmsConnectionFactory">
        <jms:listener destination="jft.topic" ref="topicListener" method="retrieveMessage"/>
        <jms:listener destination="jft.topic" ref="topicListenerSlave" method="retrieveMessage"/>
    </jms:listener-container>

    <jms:listener-container destination-type="queue" connection-factory="jmsConnectionFactory">
        <jms:listener destination="jft.queue" ref="queueListener" method="getObject"/>
    </jms:listener-container>

</beans>